<form>
    <div class="form-group">
        <h4>User Settings</h4>
    </div>
    
    <!-- <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="checkbox checkbox-info checkbox-circle checkbox-asana">
                <input id="rememberProject" class="styled" type="checkbox" data-ng-model="settingsCtrl.rememberProject" data-ng-change="settingsCtrl.changeRememberProject()"/>
                <label for="rememberProject">Remember Project</label>
            </div>
        </div>
    </div> -->
    <div class="form-group">
        <label>Chatwork token:</label>
        <div class="input-group">
            <input id="chatworkAccessToken" class="form-control" placeholder="Enter chatwork access token" type="password"
                data-ng-model="settingsCtrl.chatworkAccessToken"
                data-ng-change="settingsCtrl.changeChatworkAccessToken()" />
            <span class="input-group-btn">
                <button ng-click="settingsCtrl.changeChatworkAccessToken()" class="btn btn-primary"
                    type="button">Add</button>
            </span>
        </div>
    </div>
</form>